body {
  background-color: var(--primary-color);
  color: var(--white);
  font-family: TTNorms;
  font-weight: 500;
}

main {
  z-index: 10;
  position: relative;
  pointer-events: none;
}

.baseline {
  font-size: 1rem;

  @include media-breakpoint-up(lg) {
    font-size: 1.9rem;
  }
}

section {
  background-color: var(--primary-color);
  pointer-events: initial;

  strong {
    color: var(--secondary-color);
  }
}

.bg-secondary-color {
  background-color: var(--secondary-color);
}

#placeholder {
  background-color: transparent;
}

.bg-secondary-color p {
  color: var(--primary-color);
}

.bg-light, .bg-light-blue {
  color: var(--black);

  h2 {
    color: var(--primary-color);
  }

  strong {
    color: var(--tertiary-color);
  }
}

.newsletter {

  &.newsletter-dark {
    label {
      color: var(--primary-color);
    }

    input.form-control {
      color: var(--black);
      border-bottom-color: var(--black);

      &::placeholder {
        color: var(--black);
      }
    }
  }
  input.form-control {
    border: none;
    border-bottom: 1px solid var(--white);
    border-radius: 0;
    color: var(--white);

    &::placeholder {
      color: var(--grey);
      opacity: 0.6;
    }
  }
}

.bg-light {
  background-color: var(--white) !important;
}

.bg-light-blue {
  background-color: var(--light-blue);
}

.indent-0 {
  text-indent: 0;
}

.indent-3 {
  text-indent: 3rem;
}

.indent--1 {
  text-indent: -1em;
}

.indent--2 {
  text-indent: -2em;
}

.pad-2 {
  padding-left: 2em;
}

.lh-0 {
  line-height: 0;
}

.svg-bkg {
  background-size: cover;
  background-position: bottom;
  min-height: 75vh;
  background-repeat: no-repeat;

  @include media-breakpoint-up(lg) {
    img {
      max-width: 450px;
    }
  }
}

.svg-bkg.small {
  background-position-x: 100%;
  min-height: 66vh;

  @include media-breakpoint-up(lg) {
    background-size: 60%;
    background-position: left;
  }
}

.yellow-arrow-bkg {
  background-image: url('/img/yellow_blue/Asset 29.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;

  @include media-breakpoint-up(lg) {
    background-image: url('/img/yellow_blue/Asset 27.png');
    background-size: contain;
    background-position-x: left;
    background-position-y: center;
  }
}

.usecase {
  @include media-breakpoint-up(lg) {
    transition: background .3s ease-out;

    &:hover {
      background: var(--primary-color);
      p, h3 {
        color: var(--white);
      }

      p {
        font-size: 0.8rem;
      }

      .details {
        display: block !important;
      }

      img {
        display: none;
      }
    }
  }

  .content {
    background: var(--primary-color);
    color: var(--white);

    @include media-breakpoint-up(lg) {
      background: transparent;
      color: var(--black);

      .btn-light {
        color: var(--white);
        background: var(--primary-color);
      }
    }
  }


  &:nth-child(2n) {
    .content {
      background: var(--white);
      color: var(--black);

      @include media-breakpoint-up(lg) {
        background: transparent;
      }
    }
    .btn-light {
      color: var(--white);
      background: var(--primary-color);
    }
  }
}

.btn-light {
  color: var(--primary-color);
}

.btn-primary {
  color: var(--white) !important;
}

.number {
  font-size: 3rem;
  font-weight: bolder;

  @include media-breakpoint-up(lg) {
    font-size: 7rem;
  }
}

.number + p {
  margin-top: -2rem;

  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }
}

.blog h3 {
  color: var(--primary-color);
  font-size: 1rem;
}

@include media-breakpoint-up(lg) {
  .w-lg-75 {
    width: 75% !important;
  }

  .w-lg-100 {
    width: 100% !important;
  }

  .position-lg-fixed {
    position: fixed;
  }

  .post {
    text-decoration: none;
    color: var(--black);

    &:hover {
      color: inherit;
    }
  }

  .thumbnail {
    transition: opacity .8s ease-out;
    opacity: 0;
    left: 40%;
    pointer-events: none;
  }

  .post-headline:hover + .thumbnail, .post-headline.hovered + .thumbnail {
    opacity: 1;
    pointer-events: initial;
  }

  .blog .post-headline {
    opacity: 0.5;

    &:hover, &.hovered {
      opacity: 1;
    }
  }
}

.controls {
  position: absolute;
  top: -5rem;
  right: 0;
}

.controls button {
  position: static;
}

.no-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.nowrap {
  white-space: nowrap;
}

.accordion-item, .accordion-button {
  background-color: transparent;
}

@include media-breakpoint-up(lg) {
  .vh-lg-100 {
    height: 100vh;
  }

  .overflow-y-lg-scroll {
    overflow-y: scroll;
  }

  .position-lg-relative {
    position: relative;
  }

  .position-lg-absolute {
    position: absolute;
  }

  .fs-lg-0 {
    font-size: 4rem !important;
  }
}

.simple {
  a {
    color: var(--white);
  }
}

.bullet-point {
  color: var(--black) !important;
  text-indent: -1rem;

  &:before {
    content: '— ';
    color: var(--tertiary-color);
    font-size: 2rem;
    line-height: 1rem;
    vertical-align: sub;
  }
}

.scroll-list {
  h2 strong {
    text-indent: 2.5rem;
  }
}

.social {
  display: block;
  line-height: 1;

  svg {
    height: 20px;
    fill: var(--secondary-color);
  }
}
