@font-face {
  font-family: TTNorms;
  src: url(../fonts/TTNormsPro-Light.otf) format('opentype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: TTNorms;
  src: url(../fonts/TTNormsPro-Regular.otf) format('opentype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: TTNorms;
  src: url(../fonts/TTNormsPro-Medium.otf) format('opentype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: TTNorms;
  src: url(../fonts/TTNormsPro-Bold.otf) format('opentype');
  font-weight: 700;
  font-display: swap;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

@include media-breakpoint-up(lg) {
  h3 strong {
    display: block;
  }

  .fs-lg-2 {
    font-size: 2rem !important;
  }
}
