$primary: #3B64FF;
$secondary: #FFF75F;
$tertiary: #FF5C55;
$white: #FFFFFF;
$light: $white;
$body-color: $white;
$body-bg: $primary;

:root {
  --primary-color: #{$primary};
  --secondary-color: #{$secondary};
  --tertiary-color: #{$tertiary};
  --white: #{$white};
  --black: #1D1D1D;
  --grey: #EAF5FB;
  --red: #FF5C55;
  --light-blue: #E9F4FA;
}

$accordion-icon-color: $tertiary;
$accordion-icon-active-color: $primary;
