---
permalink: css/index.css
---
@font-face {
  font-family: TTNorms;
  src: url({{ '/fonts/TTNormsPro-Medium.otf' | url }}) format('opentype');
}

@font-face {
  font-family: TTNorms;
  src: url({{ '/fonts/TTNormsPro-Bold.otf' | url }}) format('opentype');
  font-weight: bold;
}

:root {
  --primary-color: #3B64FF;
  --secondary-color: #FFF75F;
  --tertiary-color: #FF5C55;
  --white: #EAF5FB;
  --black: #1D1D1D;
  --grey: #EAF5FB;
  --red: #FF5C55;
}

body {
  background-color: var(--primary-color);
  color: var(--white);
  font-family: TTNorms;
}

main {
  z-index: 10;
  position: relative;
}

section {
  overflow-x: hidden;
  background-color: var(--primary-color);
}

section.bg-secondary-color {
  background-color: var(--secondary-color);
}

section#placeholder {
  background-color: transparent;
}

.bg-secondary-color p {
  color: var(--primary-color);
}

.bg-light {
  background-color: var(--white) !important;
}

header {
  position: fixed;
  z-index: 15;
  width: 100vw;
  background: var(--primary-color);
  padding: 15px 10px;
  transition: all .5s ease-out;
}

header.shrinked {
  background: var(--white);
  color: var(--black);
  padding-top: 2px;
  padding-bottom: 2px;
  box-shadow: 0px 3px 6px #00000029;
}

.shrinked nav.navbar-dark .nav-item .nav-link {
  color: var(--black);
}

header.shrinked .border {
  border-color: var(--black) !important;
}

header.hidden {
  transform: translateY(-100%);
}

.navbar-brand img {
  display: none;
}

.shrinked .navbar-brand img {
  display: block;
  max-width: 100px;
}

nav.navbar-dark .nav-item .nav-link {
  color: var(--white);
}

h3 {
  color: var(--black);
}

.hero {
  height: 100vh;
}

.hero h3 {
  color: var(--white);
}

h3 a {
  color: var(--white);
}

footer {
  z-index: 5;
}

footer input.form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--white);
  color: var(--white);
}

footer input.form-control::placeholder {
  color: var(--grey);
  opacity: 0.6;
}

footer ul a, footer h3 {
  color: var(--white);
}

.blog h3 {
  color: var(--primary-color);
  font-size: 1rem;
}

.blog div.post {
  opacity: 0.5;
}

.blog div.post.active {
  opacity: 1;
}

.indent--2 {
  text-indent: -1.5em;
}

.pad-2 {
  padding-left: 2em;
}

.nav-link {
  color: var(--white);
}

strong {
  color: var(--secondary-color);
}

.lh-0 {
  line-height: 0;
}

a.btn.btn-primary {
  color: var(--primary-color);
  min-width: 8em;
  background-color: var(--white);
}

.col:nth-child(n+2) {
  border-left: 1px solid var(--white);
}

.panel {
  transition: background .2s ease-out;
}

.panel.hover {
  z-index: 3;
  background: rgba(0, 0, 0, 0.5);
}

.panel > div {
  background-color: white;
  background-size: cover;
  color: var(--black);
  height: 0;
  overflow: hidden;
  transition: height .1s linear;
}

.panel > div:nth-child(1) {
  background-image: url({{ '/img/red_blue/red_panel.svg' | url }});
}

.panel > div:nth-child(2) {
  background-image: url({{ '/img/red_blue/red_panel.svg' | url }});
}

.panel > div:nth-child(3) {
  background-image: url({{ '/img/red_blue/red_panel.svg' | url }});
}

.panel > div.details {
  z-index: 30;
}

.panel > div strong {
  color: var(--black);
}

.panel span {
  transition: all .4s linear;
}

.panel .details span {
  transform: rotate(45deg);
}

.circle {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 26px;
}

.bg-light h2 {
  color: var(--primary-color);
}

.bg-light p {
  color: var(--black);
}

.bg-light strong {
  color: var(--tertiary-color);
}

.bg-light a.btn.btn-primary {
  color: var(--white);
  background-color: var(--primary-color);
}

.svg-bkg {
  background-size: cover;
  background-position: bottom;
}

p.number {
  font-size: 6rem;
  font-weight: bolder;
}

.number + p {
  max-width: 9rem;
}

.usecase {
  transition: background .8s ease-out;
}

.usecase:hover {
  background: var(--primary-color);
  padding-bottom: 2rem !important;
  margin: 0 !important;
  justify-content: space-evenly !important;
}

.usecase .details {
  display: none;
}

.usecase:hover p, .usecase:hover h3 {
  color: var(--white);
}

.usecase:hover p {
  font-size: 0.8rem;
}

.usecase:hover .details {
  display: block;
}

.usecase:hover img {
  display: none;
}

.arrow {
  animation: bounce .8s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-7px);
  }
}

/* Glider */
.controls {
  position: absolute;
  top: -5rem;
  right: 0;
}

.controls button {
  position: static;
}

/* Glider */
