@font-face {
  font-family: TTNorms;
  src: url(/landing/fonts/TTNormsPro-Light.otf) format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: TTNorms;
  src: url(/landing/fonts/TTNormsPro-Regular.otf) format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: TTNorms;
  src: url(/landing/fonts/TTNormsPro-Medium.otf) format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: TTNorms;
  src: url(/landing/fonts/TTNormsPro-Bold.otf) format('opentype');
  font-weight: 700;
}

:root {
  --primary-color: #3B64FF;
  --secondary-color: #FFF75F;
  --tertiary-color: #FF5C55;
  --white: #EAF5FB;
  --black: #1D1D1D;
  --grey: #EAF5FB;
  --red: #FF5C55;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

body {
  background-color: var(--primary-color);
  color: var(--white);
  font-family: TTNorms;
  font-weight: 500;
}

main {
  z-index: 10;
  position: relative;
  overflow-x: hidden;
}

h2.baseline {
  font-size: 1rem;
}

section {
  overflow-x: hidden;
  background-color: var(--primary-color);
}

section.bg-secondary-color {
  background-color: var(--secondary-color);
}

section#placeholder {
  background-color: transparent;
}

.bg-secondary-color p {
  color: var(--primary-color);
}

.bg-light {
  color: var(--black);
  background-color: var(--white) !important;
}

header {
  position: fixed;
  z-index: 9;
  background: var(--primary-color);
  padding: 15px 10px;
}

header.shrinked {
  top: 0;
  z-index: 11;
  background: var(--white);
  color: var(--black);
  padding-top: 2px;
  padding-bottom: 2px;
  box-shadow: 0px 3px 6px #00000029;
}

header.slide-down {
  animation: slide-down .8s ease-out;
}

header.shrinked.slide-up {
  transition: top .8s;
  top: -100px;
}

.shrinked nav.navbar-dark .nav-item .nav-link {
  color: var(--black);
}

header.shrinked .border {
  border-color: var(--black) !important;
}

.navbar-brand img {
  display: none;
}

.shrinked .navbar-brand img {
  display: block;
  max-width: 100px;
}

nav.navbar-dark .nav-item .nav-link {
  color: var(--white);
}

h3 {
  
}

.hero {
  
  background: transparent;
}

.hero > div:not(#headerPlaceholder) {
  background: var(--primary-color);
}

.hero h3 {
  
}

h3 a {
  color: var(--white);
}

footer {
  z-index: 5;
}

footer input.form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--white);
  color: var(--white);
}

footer input.form-control::placeholder {
  color: var(--grey);
  opacity: 0.6;
}

footer ul a, footer h3 {
  color: var(--white);
}

footer strong {
  color: var(--secondary-color);
}

footer .social svg {
  width: 20px;
  fill: var(--secondary-color);
}

.blog h3 {
  color: var(--primary-color);
  font-size: 1rem;
}

.blog div.post {
  opacity: 0.5;
}

.blog div.post.active {
  opacity: 1;
}

.indent--1 {
  text-indent: -1em;
}

.indent--2 {
  text-indent: -2em;
}

.pad-2 {
  padding-left: 2em;
}

.nav-link {
  color: var(--white);
}

strong {
  
}

.lh-0 {
  line-height: 0;
}

a.btn.btn-primary {
  color: var(--primary-color);
  min-width: 8em;
  background-color: var(--white);
  border: none;
}

.row.panel-row {
  flex-wrap: nowrap;
  overflow-x: scroll;
  min-height: 90vh;
}

.summary {
  position: relative;
  transition: all .5s;
  background: url(/landing/img/red_blue/red_panel.svg) white no-repeat center/cover;
  color: var(--black);
}

.summary:nth-child(5) * {
  color: var(--white);
}

.dummy {
  display: none;
}

.circle {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 34px;
}

.summary:hover .circle {
  display: none;
}

.bg-light h2 {
  color: var(--primary-color);
}

.bg-light p {
  
}

.bg-light strong {
  color: var(--tertiary-color);
}

.bg-light a.btn.btn-primary {
  color: var(--white);
  background-color: var(--primary-color);
}

.svg-bkg {
  background-size: cover;
  background-position: bottom;
  min-height: 75vh;
  background-repeat: no-repeat;
}

.svg-bkg.small {
  background-position-x: 100%;
  min-height: 66vh;
}

p.number {
  font-size: 4rem;
  font-weight: bolder;
}

.number + p {
  
  margin-top: -2rem;
}

.usecase .content {
  background: var(--primary-color);
  color: var(--white);
}

.usecase:nth-child(2n) .content {
  background: var(--white);
  color: var(--black);
}

.btn-light {
  color: var(--primary-color);
}

.usecase:nth-child(2n) .btn-light {
  color: var(--white);
  background: var(--primary-color);
}

.arrow {
  animation: bounce .8s infinite alternate;
}

.blockquote p::before {
  content: '';
  width: 5rem;
  display: inline-block;
  height: 5rem;
  background: url(/landing/img/quote.svg) no-repeat bottom/contain;
  margin-right: 1rem;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-7px);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100px);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}

/* Glider */
.controls {
  position: absolute;
  top: -5rem;
  right: 0;
}

.controls button {
  position: static;
}

.glider-track {
  scrollbar-width: 0;
}

/* Glider */

@media (min-width: 1280px) {
  h2.baseline {
    font-size: 1.9rem;
  }

  h3 strong {
    display: block;
  }

  .row.panel-row {
    min-height: 43vh;
    overflow-x: clip;
  }

  .summary {
    background: transparent;
    color: var(--white);
  }

  .summary:nth-child(n+2) > div {
    border-left: 1px solid var(--white);
  }

  .summary:hover {
    background: url(/landing/img/red_blue/red_panel.svg) no-repeat center / cover ;
    z-index: 1;
    padding-top: 3rem;
    color: var(--black);
    border: none;
    bottom: 0;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .summary:hover:nth-child(1) {
    left: 0;
    background-color: white;
  }

  .summary:hover:nth-child(3) {
    background-image: url(/landing/img/yellow_bkg.svg);
    left: 0;
    right: 0;
    margin: auto;
  }

  .summary:hover:nth-child(5) {
    background-image: url(/landing/img/blue_bkg.svg);
    right: 0;
    color: var(--white);
  }

  .summary:hover:nth-child(n+2) > div {
    border-left: none;
  }

  .summary:hover .details {
    display: block !important;
  }

  .summary:hover + .dummy {
    display: block;
  }

  .summary:hover ~ .overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: calc(100% + 120px);
    position: absolute;
    top: -120px;
    left: 0;
  }

  .usecase {
    transition: background .3s ease-out;
  }

  .usecase .content, .usecase:nth-child(2n) .content {
    background: transparent;
    color: var(--black);
  }

  .usecase .btn-light {
    color: var(--white);
    background: var(--primary-color);
  }

  .usecase:hover {
    background: var(--primary-color);
  }

  .usecase:hover p, .usecase:hover h3 {
    color: var(--white);
  }

  .usecase:hover p {
    font-size: 0.8rem;
  }

  .usecase:hover .details {
    display: block !important;
  }

  .usecase:hover img {
    display: none;
  }

  .svg-bkg img {
    max-width: 450px;
  }
}
