---
permalink: css/index.css
---


h3 a {
  color: var(--white);
}

section.bg-light strong {
  color: var(--tertiary-color);
}

.bg-light a.btn.btn-primary {
  color: var(--white);
  background-color: var(--primary-color);
}


/*****
  Contact
***/

