.about {

  .hero {
    height: 100vh;
    background: url("../img/red_blue/Asset 6b.png"), url("../img/red_blue/Asset 10b.png"), url("../img/Hitchcock.svg");
    background-color: var(--primary-color);
    background-size: 100%, 100%, 66%;
    background-repeat: no-repeat;
    background-position: right -10rem bottom -2rem,right -10rem top 4.6rem,left bottom;
    background-blend-mode: color, color-burn, color-burn;

    @include media-breakpoint-up(lg) {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-size: 66vh, 66vh, 40vh;
      background-position: right 3vw bottom -7vh, right 3vw top -6vh, 5vw bottom;
      position: relative;
    }
  }

  .blockquote {
    p::before {
      height: 2rem;
      width: 2rem;
      margin-right: .2rem;
    }
  }

  .blockquote-footer {
    color: white;
  }

  .values {
    background: url('../img/yellow_blue/Asset 27.png') 0% 10% / 20% no-repeat;

    @include media-breakpoint-up(lg) {
      align-items: center;
      background-size: 10%;

      .numbers {
        border-left: 1px solid var(--grey);
      }

      .border-bottom {
        border: none !important;
      }
    }

    p {
      text-indent: 2rem;
      font-weight: normal;
      font-size: 1.25rem;

      @include media-breakpoint-up(lg) {
        font-weight: 500;
        font-size: 1.5rem;
      }

      &.bullet-point {
        text-indent: 0;
      }

      strong {
        color: var(--primary-color);
        font-weight: 500;
      }
    }

    .number {
      font-size: 4rem;
    }

    .fs-6 {
      color: var(--primary-color);
    }
  }

  .story {

    ol {
      list-style: none;
      counter-reset: step;

      &:hover li.step.active {
        h3 {
          opacity: .6;
        }

        .step-content {
          opacity: 0;
        }

        .step-img {
          img {
            filter: grayscale(75%);
          }
          &::after {
            opacity: 1;
          }
        }
      }


      li.step {
        counter-increment: step;
        width: 87vw !important;
        flex-shrink: 0;

        * {
          transition: all .3s ease-out;
        }

        &:hover, &.active {
          h3 {
            opacity: 1;
          }

          .step-content {
            opacity: 1;
          }

          .step-img {
            img {
              filter: none;
            }
            &::after {
              opacity: 0;
            }
          }
        }

        &.active:hover {
          h3 {
            opacity: 1 !important;
          }

          .step-content {
            opacity: 1 !important;
          }

          .step-img {
            img {
              filter: none !important;
            }
            &::after {
              opacity: 0 !important;
            }
          }
        }

        @include media-breakpoint-up(lg) {
          flex-shrink: 1;

          &.step-1 .step-content {
            right: -22rem;
          }

          &.step-2 .step-content {
            left: -2rem;
          }

          &.step-3 .step-content {
            left: -22rem;
          }

          .step-content {
            opacity: 0;
            position: relative;
          }
        }

        h3 {
          opacity: .6;

          &::before {
            content: counter(step, decimal-leading-zero);
            font-weight: 500;
            padding-right: 1rem;
          }
        }

        .step-img {
          position: relative;
          max-width: 480px;

          &::after {
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: var(--primary-color);
            position: absolute;
            mix-blend-mode: multiply;
          }

          img {
            filter: grayscale(75%);
          }
        }
      }
    }
  }

  .founder .portrait {
    @include add-shape("portrait", "../img/yellow_blue/Asset 6.png","../img/red_blue/Asset 20.png");

    max-width: 500px;
    overflow: hidden;

    &.portrait-1::after {
      transform: rotateY(.5turn);
      bottom: -1px;
      right: -1px;
    }

    &.portrait-2::after {
      top: 0;
      left: 0;
      width: 50%;
      height: 50%;
    }
  }

  .council {

    background-image: url("../img/yellow_blue/Asset 18.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: 206% -17%;

    @include media-breakpoint-up(lg) {
      background-size: 38%;
      background-position: 100% -260%;
    }

    .step {
      width: 87vw !important;

      @include media-breakpoint-up(lg) {
        width: 30vw !important;
      }
    }
  }

  .investor {
    .portrait {
      @include add-shape("portrait", "../img/yellow_blue/Asset 29.png",
      "../img/red_blue/Asset 35.png");

      &::after {
        bottom: 0;
        right: 0;
      }
    }
  }

  .cta {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-image: url("../img/yellow_blue/Asset 28.png");
    background-size: 230%;
    background-position: right -210px bottom -24px;

    @include media-breakpoint-up(lg) {
      min-height: 80vh;
      background-size: 100%;
      background-position: left;
      align-items: end;
    }

    h2 {
      color: var(--black);

      strong {
        color: var(--primary-color);
      }
    }
  }

  .social {

    flex-direction: row-reverse;

    @include media-breakpoint-up(lg) {
      padding-right: 10%;
    }

    svg {
      height: 1.2rem;
      fill: var(--tertiary-color);
    }
  }
}
