.filter-list {
  .btn-outline-primary {
    color: var(--black);

    &:focus {
      box-shadow: none;
    }

    &:hover {
      background: none;
    }
  }

  .btn-check:checked + .btn-outline-primary {
    color: var(--primary-color);
    background: none;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    font-weight: 500;

    &:focus {
      box-shadow: none;
    }
  }
  .btn-check:focus + .btn-outline-primary {
    box-shadow: none;
  }
}

.posts-list {

  .gutter-sizer {
    width: 1%;
  }

  .grid-sizer,
  .post {
    width: calc(50% - 10px);

    @include media-breakpoint-up(lg) {
      width: 24%;
    }
  }

  .post .extract {
    display: none;
  }

  .post:nth-child(5n+1) {
    width: 100%;

    @include media-breakpoint-up(lg) {
      width: 49%;
    }

    .extract {
      display: block;
    }
  }
}

.pagination {
  .page-link {
    padding: 0;
    font-size: 1.15rem;
  }

  .active {
    border-bottom: 1px solid var(--primary-color);
    border-radius: 0;
  }
}
