.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active {
  color: var(--white);
  border-color: var(--white);
  border-radius: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.btn-check:checked + .btn-outline-primary {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

[data-selection] {
  display: none;
}

form .form-control {
  background: transparent;
  border-radius: 0;

  &:focus {
    background: transparent;
  }

  &::placeholder {
    color: var(--white);
    opacity: 0.6;
    font-style: italic;
  }
}

label {
  font-weight: 400;
}

@include media-breakpoint-up(lg) {
  .contact h1 {
    font-size: 5rem !important;
  }
}
