//$navbar-dark-toggler-icon-bg: $navbar-light-toggler-icon-bg;

body > header {
  padding: 15px 10px;
  background: var(--primary-color);
  color: var(--white);
  position: relative;
  z-index: 1;

  &.home {
    .logo-light {
      display: none;
    }
  }

  &.offre {
    position: absolute;
    z-index: 11;
    background: transparent;
  }

  &.blog {
    background: var(--white);

    .nav-item {
      .nav-link {
        color: var(--black);
      }
      &.border {
        border: none !important;
        background: var(--primary-color);

        .nav-link {
          color: var(--white);
        }
      }
    }

    .logo-light {
      display: none;
    }
    .logo-dark {
      display: block;
    }
  }
}

.shrinked {
  top: 0;
  z-index: 11;
  position: fixed !important;
  background: var(--white) !important;
  color: var(--black);
  padding-top: 2px;
  padding-bottom: 2px;
  box-shadow: 0px 3px 6px #00000029;

  &.slide-up {
    transition: transform .8s;
    transform: translateY(-100px);
  }

  .nav-item .nav-link {
    color: var(--black);
  }


  .nav-item.border {
    border: none !important;
    background: var(--primary-color);

    .nav-link {
      color: var(--white);
    }
  }

  .navbar-toggler {
    color: var(--black);
  }

  .navbar-brand .logo-dark {
    display: block !important;
  }

  .navbar-brand .logo-light {
    display: none !important;
  }
}

.slide-down {
  animation: slide-down .8s ease-out;
}

#headerPlaceholder {
  background: transparent;
}

.navbar-brand {
  img {
  max-width: 100px;
}
  .logo-dark {
    display: none;
  }
}

nav.navbar-dark .nav-item .nav-link {
  color: var(--white);
  padding-right: 0;
  padding-left: 0;
  padding-bottom: .2rem;
  margin-left: .5rem;
  margin-right: .5rem;
}

.nav-link {
  color: var(--white);

  &.active {
    //text-decoration: underline;
    border-bottom: 1px solid var(--white);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100px);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}

