.intro {
   background-image: url('../img/red_blue/Asset 29.png');
   background-size: 80%;
   background-repeat: no-repeat;
   background-position: right bottom;

   h1 {
     font-size: 2rem;
   }
 }

 .shape {
   position: absolute;
 }

.shape-1 {
  bottom: 0;
  left: -60%;
  background-color: rgba($tertiary, .15);
}

.shape-2 {
  top: 0;
  left: 10%;
  height: 100%;
  width: auto;
}

.shape-3 {
  top: -20%;
  left: 60%;
}

.shape-4 {
   top: 15%;
   left: 50%;
}

.shape-5 {
  left: -28%;
  top: 0;
  height: 100%;
  width: auto;
}

.shape-6 {
  top: -10%;
  left: 63%;
}

.plus {
  .cta {
    background-image: url('../img/yellow_blue/Asset 26.png');
    background-size: 270%;
    background-position: 65% 0;
    min-height: 65vh;

    h2 {
      color: var(--primary-color);

      span {
        display: block;
        color: var(--tertiary-color);
      }
    }
  }
}
