<div class="py-4 newsletter {{ 'newsletter-dark' if dark }}">
  <label for="newsletter-email" class="indent--2 pad-2 display-3 font-medium fs-lg-2">Je m'inscris <br/><strong>à la newsletter</strong></label>
  <input type="email" id="newsletter-email" class="form-control my-4" placeholder="Votre adresse e-mail" name="newsletter-email">
</div>
