{% macro quote(testimonial, class) %}
<div class="row justify-content-center{{ " " + class if class}}">
  {% if testimonial.image %}
    <div class="col-3">
      {% image testimonial.image, "Portrait de " + testimonial.name, null, 'mt-4' %}
    </div>
  {% endif %}
  <div class="{{ "col-8" if testimonial.image else "col-10" }}">
    <figure>
      <blockquote class="blockquote">
        <p class="font-regular fs-lg-2">{{ testimonial.citation }}</p>
      </blockquote>
      <figcaption class="blockquote-footer indent--1 pad-2">
        {{ testimonial.name }} <br/> <span class="font-regular">{{ testimonial.job }}</span>
      </figcaption>
    </figure>
    {#<a class="btn btn-primary rounded-pill" href="/partenaires">Ils nous font confiance</a>#}
  </div>
</div>
{% endmacro %}
