<section class="bg-light py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-2">
        <img class="img-fluid" src="{{ testimonial.image | url }}" alt="Portrait de {{ testimonial.name }}">
      </div>
      <div class="col-6">
        <figure>
          <blockquote class="blockquote">
            <p>{{ testimonial.citation }}</p>
          </blockquote>
          <figcaption class="blockquote-footer indent--2 pad-2">
            {{ testimonial.name }} <br/> {{ testimonial.job }}
          </figcaption>
        </figure>
        <a class="btn btn-primary rounded-pill" href="/partenaires">Ils nous font confiance</a>
      </div>
    </div>
  </div>
</section>
