<section class="bg-light py-5">
  <div class="container pt-5">
    <div class="row justify-content-center">
      <div class="col-3">
        <img class="img-fluid mt-4 lazyload" data-src="{{ testimonial.image | url }}" alt="Portrait de {{ testimonial.name }}">
      </div>
      <div class="col-8">
        <figure>
          <blockquote class="blockquote">
            <p class="font-regular fs-lg-2">{{ testimonial.citation }}</p>
          </blockquote>
          <figcaption class="blockquote-footer indent--1 pad-2">
            {{ testimonial.name }} <br/> <span class="font-regular">{{ testimonial.job }}</span>
          </figcaption>
        </figure>
        {#<a class="btn btn-primary rounded-pill" href="/partenaires">Ils nous font confiance</a>#}
      </div>
    </div>
  </div>
</section>
