<section class="bg-light scroll-list">
  <div class="d-flex flex-wrap">
    <h2 class="px-4 my-5 fs-1 d-lg-none">{{ scrollList.title | markdown(true) | safe }}</h2>
    <div class="col-8 mx-auto mx-lg-0 col-lg-5 ps-0">
      {% image scrollList.image, "", null, "d-block mx-auto", "300 600" %}
    </div>
    <div class="col-8 mx-auto col-lg-5 py-5 font-light">
      <h2 class="text-lg-start px-4 px-lg-0 my-5 fs-1 d-none d-lg-block">{{ scrollList.title | markdown | safe }}</h2>
      {% for item in scrollList.items %}
        <h3 class="font-medium">{{ item.title }}</h3>
        {{ item.text | markdown | safe }}
      {% endfor %}
    </div>
  </div>
</section>
