---
layout: layouts/base.njk
contentClass: about
headerClass: offre
---
{% from "profile.njk" import profile %}
{% from "quote.njk" import quote as quote_block %}
<section class="mt-3 mt-lg-0 px-3 ms-2 pt-5 hero">
  <h1 class="col-lg-9 pt-5">Laissez-nous vous <strong class="d-lg-inline fw-normal">raconter Cameo</strong></h1>
  {{ quote_block(quote, "col-lg-6") }}
  {% include "scroll.njk" %}
</section>
<section class="bg-light py-5 ps-4 pe-3 d-flex flex-wrap values">
  <div class="col-12 col-lg-8 p-lg-5 mx-lg-5">
    <h2 class="mb-4 fs-lg-1">Ce en quoi <strong class="d-block">nous croyons</strong></h2>
    <div class="border-bottom pb-5">
      <p class="bullet-point">Le monde économique regorge de <strong>talents inexploités</strong> et d'<strong>énergies bridées</strong>.</p>
      <p>Notre conviction, c'est qu'il est urgent de <strong>libérer les talents</strong> et rompre <strong>les réflexes de censure</strong> des salariés, quels que soient leur formation, leur parcours de carrière our leur âge.</p>
      <p>Osons <strong>décloisonner des secteurs</strong> qui ne se parlent pas, pour qu'ils partagent leurs meilleures pratiques et conjuguent leurs énergies.</p>
      <p>Provoquons les <strong>synergies créatrices de valeur</strong> entre grandes entreprises, startups, ETI, acteurs de la formation et de l'emploi, décideurs publics,...</p>
    </div>
  </div>
  <div class="pt-4 pt-lg-0 col-12 col-lg-3 px-3 numbers">
    {% for num in values_numbers %}
      <h2 class="number mb-0">{{ num.number }}</h2>
      <h3 class="fs-6">{{ num.text }}</h3>
    {% endfor %}
  </div>
</section>
{% include "scroll_list.njk" %}
{% include "keynum.njk" %}
<section class="py-5 ps-4 story">
  <h2 class="indent-3">La petite histoire <strong class="d-block indent-0">de Cameo</strong></h2>
  <div class="overflow-scroll no-scrollbar">
    <ol class="mt-4 d-flex p-0">
      {% for step in story %}
        <li class="step step-{{ loop.index }}">
            <label for="radio-{{ loop.index }}">
            <input type="radio" id="radio-{{ loop.index }}" name="story_step" value="{{ step.title }}"{{ " checked " if loop.first }}class="d-none">
            <h3 class="mb-4 fs-6 d-inline">{{ step.title }}</h3>
            <div class="step-img mt-3 me-4">
              <img src="{{ step.image }}" alt="" class="img-fluid" loading="lazy" decoding="async">
            </div>
            <div class="ps-5 font-light step-content">
              <h4 class="mt-4">{{ step.subtitle }}</h4>
              {{ step.text | markdown | safe }}
            </div>
            </label>
          </li>
      {% endfor %}
    </ol>
  </div>
</section>
<section class="bg-light py-5 d-flex flex-column justify-content-between align-items-center">
  <h2 class="col-10">Nos fondateurs</h2>
  <div class="col-10 d-flex gap-4 flex-wrap justify-content-between">
    {% for founder in founders %}
      <div class="col-12 col-lg-5 founder">
        {{ profile(founder, loop) }}
      </div>
    {% endfor %}
  </div>
</section>
<section class="bg-light-blue py-5 ps-4 council">
  <h2>Le comité <strong class="d-inline">scientifique</strong></h2>
  <div class="overflow-scroll no-scrollbar mb-5">
    <div class="mt-4 d-flex">
      {% for counselor in council %}
        <div class="step pe-5 flex-shrink-0">
          {{ profile(counselor) }}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="bg-light py-5 d-flex flex-column justify-content-evenly align-items-center">
  <h2 class="mb-4 col-10">Nos investisseurs</h2>
  <div class="col-10 d-flex  flex-wrap justify-content-between">
    <p class="fw-normal col-12 col-lg-3 p-0">Lancé en 2018 et doté de 155 m€, MH Innov’ investit en direct ou via ses partenaires VC dans l’écosystème tech européen afin d’accompagner la croissance de start-up ambitieuses pouvant également développer des partenariats gagnant-gagnant avec le Groupe Malakoff Humanis. On retrouve des entreprises innovantes comme Testamento, Squadeasy, Health For People, WeCar@Work et bien d’autres...</p>
    <div class="col-12 col-lg-7 d-flex flex-column align-items-center">
      <img src="{{ '/img/logo-mh.svg' | url }}" alt="Logo de Malakoff Humanis"class="mb-5">
      <div class="d-flex gap-4">
        {% for investor in investors %}
          <div class="investor">
            {{ profile(investor, loop)}}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<section class="bg-light-blue cta ps-5">
  <div class="col-10 col-lg-6">
    <h2 class="ms-3">Les présentations sont faites !<strong>Comment peut-on vous aider ?</strong></h2>
    <a class="btn btn-primary rounded-pill mt-4 ms-3 px-4" href="{{ '/offre/' | url }}">L'offre Cameo</a>
  </div>
</section>
