<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
  </head>
  <body>
    <header class="w-100{% if headerClass %} {{ headerClass }}{% endif %}">
      <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img class="w-100 logo-light" src="{{ '/img/logo.svg' | url }}" alt="Cameo">
            <img class="w-100 logo-dark" src="{{ '/img/logo-dark.svg' | url }}" alt="Cameo dark">
          </a>
          <div class="d-flex d-lg-none">
            <p class="my-auto me-2">Menu</p>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center">
              {%- for entry in collections.all | eleventyNavigation %}
                <li class="nav-item{% if loop.last %} rounded-pill border px-5 ms-3 align-self-center{% endif %}">
                  <a class="nav-link{% if entry.url == page.url %} active{% endif %}" href="{{ entry.url | url }}">{{ entry.title }}</a>
                </li>
              {%- endfor %}
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      {{ content | safe }}
    </main>

    <section id="placeholder" class="d-none d-lg-block">
    </section>
    <footer class="bottom-0 py-5 px-4 font-medium position-lg-fixed w-lg-100">
      <div class="row justify-content-evenly">
        <div class="col-12 col-lg-3">
          <div class="py-4 d-none d-lg-block w-lg-75">
            <h2 class="w-50 mx-auto w-lg-100">
              <img class="img-fluid" src="{{ '/img/logo.svg' | url }}" alt="logo">
            </h2>
            <h3 class="text-center fs-6">Révéler les talents<br/>Libérer la performance</h3>
          </div>
          <div class="py-4">
            <p class="indent--2 pad-2 fs-1 fs-lg-2">Je m'inscris <br/><strong>à la newsletter</strong><p>
            <input type="email" class="form-control" placeholder="Votre adresse e-mail">
          </div>
          <div class="my-3">
            <p class="fs-5 d-inline">Suivez-nous</p>
            <a class="social ms-4" href="https://twitter.com/CameoTalents">
              {% include "twitter_logo.svg" %}
            </a>
            <a class="social ms-4" href="https://www.linkedin.com/company/cameoedtech">
              {% include "linkedin_logo.svg" %}
            </a>
          </div>
        </div>
        <div class="col-6 px-5 d-none d-lg-block">
          <ul class="list-unstyled">
            {%- for entry in collections.all | eleventyNavigation %}
              <li class="fs-1">
                <a class="text-decoration-none" href="{{ entry.url | url }}">{{ entry.title }}</a>
              </li>
            {%- endfor %}
          </ul>
        </div>
      </div>
      <ul class="mentions list-inline text-lg-center">
        <li class="list-inline-item font-regular">© Cameo 2021. Tous droits réservés.</li>
        <li class="list-inline-item"><a href="{{ '/mentions-legales' | url }}">Mentions légales</a></li>
      </ul>
      <p class="text-lg-center">Pas de cookies sur notre site. La meilleure façon de protéger vos données, c'est de ne pas les garder.</p>
    </footer>
    <!-- Current page: {{ page.url | url }} -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous" async=""></script>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    <script src="{{ '/js/index.js' | url }}" async></script>
  </body>
</html>
