---
layout: layouts/base.njk
headerClass: blog
light: true
---
<section class="bg-light py-3">
  <div class="ps-3 overflow-scroll no-scrollbar nowrap">
    <div class="filter-list">
      <input type="radio" name="filter" class="btn-check" id="all-posts" autocomplete="off" checked onclick="filterPosts()">
      <label class="btn btn-outline-primary px-0 me-3" for="all-posts">Tous les articles</label>
      {% set categories = collections.post | getCategories %}
      {%- for category in categories %}
        <input type="radio" name="filter" class="btn-check" id="{{ category | slugify }}" autocomplete="off" onclick="filterPosts('{{ category | escapejs }}')">
        <label class="btn btn-outline-primary px-0 me-3" for="{{ category | slugify }}">{{ category }}</label>
      {% endfor %}
    </div>
  </div>
  <div class="px-4 py-5">
    <div class="posts-list">
      {% for post in collections.post | reverse %}
        <a href="{{ post.url }}" class="post mb-3" data-groups="{{ post.data.category }}">
          {% image post.data.image, "", null, "mb-4 mx-auto", '328, 588' %}
          <p class="color-primary font-regular">{{ post.data.category }} - {{ post.data.page.date | date('dd/MM/yyyy') }}</p>
          <h2 class="fs-3 color-black">{{ post.data.title }}</h2>
          <p class="extract font-regular">{{ post.data.extract }}</p>
        </a>
      {% endfor %}
      <div class="grid-sizer"></div>
      <div class="gutter-sizer"></div>
    </div>
  </div>

  {#<nav aria-label="Pagination des posts">#}
    {#<ol class="pagination justify-content-evenly">#}
      {#<li class=page-item>&lt; Précédente</li>#}
      {#<div class="numbers d-flex justify-content-evenly col-4">#}
        {#{%- for pageEntry in pagination.pages %}#}
          {#<li{% if page.url == pagination.hrefs[ loop.index0 ] %} class="page-item active" aria-current="page"{% else %} class="page-item"{% endif %}><a class="page-link" href="{{ pagination.hrefs[ loop.index0 ] }}">{{ loop.index }}</a></li>#}
          {#{%- endfor %}#}
      {#</div>#}
      {#<li class=page-item>Suivante &gt;</li>#}
    {#</ol>#}
  {#</nav>#}
</section>
