---
layout: layouts/base.njk
---
<section class="contact px-4">
  <div class="row col-lg-11 mx-auto">
    <div class="col-lg-6 d-lg-flex flex-column justify-content-center">
      <h1>Let's go!</h1>
      <h2 class="fs-1">Envie de vous lancer dans <strong>l'aventure</strong>?</h2>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid" src="{{ '/img/yellow_red/Asset 18.svg' | url }}" alt="Forme">
    </div>
  </div>
  <form class="mt-5" action="https://formspree.io/f/xzbkweol" method="POST">
    <div class="">
      <h3 class="text-center pt-lg-4">Qui êtes-vous ?</h3>
      <p class="text-center">On ne juge pas, promis</p>
      <div class="row justify-content-between justify-content-lg-center g-1 g-lg-3">
        <div class="w-auto">
          <input type="radio" id="entreprise" class="btn-check" name="type" value="entreprise" autocomplete="off" checked>
          <label for="entreprise" class="btn btn-outline-primary">Entreprise</label>
        </div>
        <div class="w-auto">
          <input type="radio" id="startup" class="btn-check" name="type" value="startup" autocomplete="off">
          <label for="startup" class="btn btn-outline-primary">Start-up</label>
        </div>
        <div class="w-auto">
          <input type="radio" id="apprenant" class="btn-check" name="type" value="apprenant" autocomplete="off">
          <label for="apprenant" class="btn btn-outline-primary">Apprenant</label>
        </div>
        <div class="w-auto">
          <input type="radio" id="formateur" class="btn-check" name="type" value="organisme_formation" autocomplete="off">
          <label for="formateur" class="btn btn-outline-primary">Organisme de formation</label>
        </div>
      </div>
    </div>
    <div class="mt-5" data-selection="entreprise">
      <h3 class="text-center pt-4">Quelle est votre BU ?</h3>
      <p class="text-center">Il n'y a pas de mauvaise réponse</p>
      <div class="row justify-content-center g-3">
        <div class="w-auto">
          <input type="radio" id="drh" class="btn-check" name="bu" value="drh" autocomplete="off">
          <label for="drh" class="btn btn-outline-primary">DRH</label>
        </div>
        <div class="w-auto">
          <input type="radio" id="innovation" class="btn-check" name="bu" value="innovation" autocomplete="off">
          <label for="innovation" class="btn btn-outline-primary">Innovation</label>
        </div>
        <div class="w-auto">
          <input type="radio" id="autre" class="btn-check" name="bu" value="autre" autocomplete="off">
          <label for="autre" class="btn btn-outline-primary">Autre</label>
        </div>
      </div>
    </div>
    <div class="mt-5" data-selection="startup">
      <h3 class="text-center pt-4">Quel est votre secteur ?</h3>
      <p class="text-center">Il n'y a pas de mauvaise réponse</p>
      <div class="row justify-content-center g-3">
        <div class="w-auto">
          <input type="radio" id="startup-healthtech" class="btn-check" name="startup-secteur" value="healthtech" autocomplete="off">
          <label for="healthtech" class="btn btn-outline-primary">Healthtech</label>
        </div>
        <div class="w-auto">
          <input type="radio" id="startup-fintech" class="btn-check" name="startup-secteur" value="fintech" autocomplete="off">
          <label for="startup-fintech" class="btn btn-outline-primary">Fintech</label>
        </div>
        <div class="w-auto">
          <input type="radio" id="startup-insuretech" class="btn-check" name="startup-secteur" value="insuretech" autocomplete="off">
          <label for="startup-insuretech" class="btn btn-outline-primary">Insurtech</label>
        </div>
        <div class="w-auto">
          <input type="radio" id="startup-hrtech" class="btn-check" name="startup-secteur" value="hrtech" autocomplete="off">
          <label for="startup-hrtech" class="btn btn-outline-primary">HRTech</label>
        </div>
        <div class="w-auto">
          <input type="radio" id="startup-autre" class="btn-check" name="startup-secteur" value="autre" autocomplete="off">
          <label for="startup-autre" class="btn btn-outline-primary">Autre</label>
        </div>
      </div>
    </div>
    <div class="mt-5" data-selection="startup">
      <h3 class="text-center pt-4">Compétences recherchées</h3>
      <p class="text-center">Rupture de stock pour les moutons à 5 pattes</p>
      <div class="row justify-content-center g-3">
        <div class="w-auto">
          <input class="btn-check" type="checkbox" id="startup-sales" name="startup-sales" autocomplete="off">
          <label class="btn btn-outline-primary d-inline" for="startup-sales">Sales</label>
        </div>
        <div class="w-auto">
          <input class="btn-check" type="checkbox" id="startup-hr" name="startup-hr" autocomplete="off">
          <label class="btn btn-outline-primary d-inline" for="startup-hr">HR</label>
        </div>
        <div class="w-auto">
          <input class="btn-check" type="checkbox" id="startup-strategy" name="startup-strategy" autocomplete="off">
          <label class="btn btn-outline-primary d-inline" for="startup-strategy">Strategy</label>
        </div>
        <div class="w-auto">
          <input class="btn-check" type="checkbox" id="startup-finances" name="startup-finances" autocomplete="off">
          <label class="btn btn-outline-primary d-inline" for="startup-finances">Finances</label>
        </div>
        <div class="w-auto">
          <input class="btn-check" type="checkbox" id="startup-marketing" name="startup-marketing" autocomplete="off">
          <label class="btn btn-outline-primary d-inline" for="startup-marketing">Marketing</label>
        </div>
        <div class="w-auto">
          <input class="btn-check" type="checkbox" id="startup-project" name="startup-project" autocomplete="off">
          <label class="btn btn-outline-primary d-inline" for="startup-project">Project Management</label>
        </div>
      </div>
    </div>
    <div class="mt-5" data-selection="apprenant">
      <h3 class="text-center pt-4">Compétences actuelles</h3>
      <p class="text-center">Mais ça, c'était avant</p>
      <div class="row justify-content-center g-3">
        <div class="w-auto">
          <input class="btn-check" type="checkbox" id="apprenant-sales" name="apprenant-sales" autocomplete="off">
          <label class="btn btn-outline-primary d-inline" for="apprenant-sales">Sales</label>
        </div>
        <div class="w-auto">
          <input class="btn-check" type="checkbox" id="apprenant-hr" name="apprenant-hr" autocomplete="off">
          <label class="btn btn-outline-primary d-inline" for="apprenant-hr">HR</label>
        </div>
        <div class="w-auto">
          <input class="btn-check" type="checkbox" id="apprenant-strategy" name="apprenant-strategy" autocomplete="off">
          <label class="btn btn-outline-primary d-inline" for="apprenant-strategy">Strategy</label>
        </div>
        <div class="w-auto">
          <input class="btn-check" type="checkbox" id="apprenant-finances" name="apprenant-finances" autocomplete="off">
          <label class="btn btn-outline-primary d-inline" for="apprenant-finances">Finances</label>
        </div>
        <div class="w-auto">
          <input class="btn-check" type="checkbox" id="apprenant-marketing" name="apprenant-marketing" autocomplete="off">
          <label class="btn btn-outline-primary d-inline" for="apprenant-marketing">Marketing</label>
        </div>
        <div class="w-auto">
          <input class="btn-check" type="checkbox" id="apprenant-project" name="apprenant-project" autocomplete="off">
          <label class="btn btn-outline-primary d-inline" for="apprenant-project">Project Management</label>
        </div>
      </div>
    </div>
    <div class="mt-5" data-selection="apprenant">
      <h3 class="text-center pt-4">Quel secteur voudrais-tu découvrir ?</h3>
      <p class="text-center">C'est le début de la fin de ta zone de confort</p>
      <div class="row justify-content-center g-3">
        <div class="w-auto">
          <input type="radio" id="apprenant-healthtech" class="btn-check" name="apprenant-secteur" value="healthtech" autocomplete="off">
          <label for="apprenant-healthtech" class="btn btn-outline-primary">Healthtech</label>
        </div>
        <div class="w-auto">
          <input type="radio" id="apprenant-fintech" class="btn-check" name="apprenant-secteur" value="fintech" autocomplete="off">
          <label for="apprenant-fintech" class="btn btn-outline-primary">Fintech</label>
        </div>
        <div class="w-auto">
          <input type="radio" id="apprenant-insuretech" class="btn-check" name="apprenant-secteur" value="insuretech" autocomplete="off">
          <label for="apprenant-insuretech" class="btn btn-outline-primary">Insurtech</label>
        </div>
        <div class="w-auto">
          <input type="radio" id="apprenant-hrtech" class="btn-check" name="apprenant-secteur" value="hrtech" autocomplete="off">
          <label for="apprenant-hrtech" class="btn btn-outline-primary">HRTech</label>
        </div>
        <div class="w-auto">
          <input type="radio" id="apprenant-autre" class="btn-check" name="apprenant-secteur" value="autre" autocomplete="off">
          <label for="apprenant-autre" class="btn btn-outline-primary">Autre</label>
        </div>
      </div>
    </div>
    <div class="mt-5 container-lg">
      <h3 class="text-center pt-lg-4">Informations personnelles</h3>
      <p class="text-center">Car on ne vous surveille pas comme Facebook</p>
      <div class="row w-lg-75 justify-content-lg-center g-lg-3 mx-auto">
        <div class="col-lg-5">
          <label for="firstname" class="form-label">Prénom</label>
          <input type="text" class="form-control mb-3" id="firstname" name="firstname" placeholder="Alfred">
        </div>
        <div class="col-lg-5">
          <label for="lastname" class="form-label">Nom de famille</label>
          <input type="text" class="form-control mb-3" id="lastname" name="lastname" placeholder="Hitchcock">
        </div>
        <div class="col-lg-5">
          <label for="email" class="form-label">Adresse e-mail</label>
          <input type="email" class="form-control mb-3" id="email" name="email" placeholder="alfred.hitchcock@cameo.fr">
        </div>
        <div class="col-lg-5">
          <label for="phone" class="form-label">Numéro de téléphone (facultatif)</label>
          <input type="text" class="form-control mb-3" id="phone" name="phone" placeholder="0600000000">
        </div>
        <div class="col-lg-10">
          <label for="message" class="form-label">Message</label>
          <textarea class="form-control mb-3" id="message" name="message" rows="5"></textarea>
        </div>
      </div>
      <button class="btn btn-light rounded-pill mx-auto px-5 mt-5 d-block">Envoyer</button>
  </form>

</section>
