---
layout: layouts/base.njk
---
<section class="px-4">
  <h1>Let's go!</h1>
  <h2>Envie de vous lancer dans <strong>l'aventure</strong>?</h2>
  <img class="img-fluid" src="{{ '/img/yellow_red/Asset 18.svg' | url }}" alt="Forme">
  <form class="mt-5">
    <div>
      <h3 class="text-center">Qui êtes-vous ?</h3>
      <p class="text-center">On ne juge pas, promis</p>
      <div class="d-flex justify-content-between">
        <input type="radio" id="entreprise" class="btn-check" name="type" value="entreprise" autocomplete="off" checked>
        <label for="entreprise" class="btn btn-outline-primary">Entreprise</label>
        <input type="radio" id="startup" class="btn-check" name="type" value="startup" autocomplete="off">
        <label for="startup" class="btn btn-outline-primary">Start-up</label>
        <input type="radio" id="apprenant" class="btn-check" name="type" value="apprenant" autocomplete="off">
        <label for="apprenant" class="btn btn-outline-primary">Apprenant</label>
      </div>
    </div>
    <div class="mt-5">
      <h3 class="text-center">Durée souhaitée</h3>
      <p class="text-center">On vous fait un crédit de combien ?</p>
      <div class="row g-3">
        <div class="col-6 order-0">
        <input type="radio" id="1to2" class="btn-check" name="duration" value="1" autocomplete="off" checked>
        <label for="1to2" class="btn btn-outline-primary d-block">1 ~ 2 mois</label>
        </div>
        <div class="col-6 order-2">
        <input type="radio" id="3to5" class="btn-check" name="duration" value="3" autocomplete="off">
        <label for="3to5" class="btn btn-outline-primary d-block">3 ~ 5 mois</label>
        </div>
        <div class="col-6 order-4">
        <input type="radio" id="6to12" class="btn-check" name="duration" value="6" autocomplete="off">
        <label for="6to12" class="btn btn-outline-primary d-block">6 ~ 12 mois</label>
        </div>
        <div class="col-6 order-1">
        <input type="radio" id="12+" class="btn-check" name="duration" value="12" autocomplete="off">
        <label for="12+" class="btn btn-outline-primary d-block">Plus d'un an</label>
        </div>
        <div class="col-6 order-3">
        <input type="radio" id="na" class="btn-check" name="duration" value="0" autocomplete="off">
        <label for="na" class="btn btn-outline-primary d-block">Non determiné</label>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <h3 class="text-center">Cadre budgetaire</h3>
      <p class="text-center">Non, nos devis ne sont pas systématiquement sur la borne supérieur !</p>
      <p class="text-center"><span id="low-end"></span>€ — <span id="high-end"></span>€</p>
      <div class="position-relative">
        <input type="range" min="4000" max="500000" multiple value="5000, 300000" />
      </div>
    </div>
  </form>

</section>
