---
layout: layouts/base.njk
headerClass: position-lg-fixed home
---
<section class="hero position-relative">
  <div class="d-none d-lg-block" id="headerPlaceholder"></div>
  <div id="heroContent" class="my-auto w-100 d-flex flex-column justify-content-center">
    <div class="col-12 col-md-6 ms-md-5 px-3 mt-lg-5">
      <h1 class="">
        <a href="{{ '/' | url }}" class="w-100">
          <img class="w-100" src="{{ '/img/logo.svg' | url }}" alt="Cameo">
        </a>
      </h1>
      <h2 class="baseline text-center font-regular">Révéler les talents. Libérer la performance.</h2>
    </div>
    <h2 class="p-4 fs-1 mt-lg-4 m-lg-5">Laissez-nous nous présenter en 3 points</h2>
    <div class="d-flex panel-row">
      {% for sum in summary %}
        {% set index = loop.index %}
        {% for i in [1, 2] %}
        <div class="col-11 col-md-4 {%if loop.first %}summary{% else %}dummy{% endif %}{% if index == 1 %} first{% elif index == 2 %} second{% else %} third{% endif %}">
            <div class="px-5 my-auto">
              <p class="fs-3 mt-5 mt-lg-0">0{{ index}}</p>
              {{ sum.title | markdown | safe }}
              {% if loop.first %}
                <div class="details d-lg-none font-regular">{{ sum.text | markdown | safe }}</div>
              {% endif %}
              <span class="fs-1 mt-4 border d-inline-block rounded-circle circle d-none d-lg-block">+</span>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
      <div class="overlay d-none d-md-block"></div>
    </div>
    {% include "_includes/scroll.njk" %}
  </div>
</section>
<section class="bg-light">
  <div class="pt-5 ps-md-5 ms-lg-5 py-lg-5">
    <h2 class="col-10 col-lg-6 ps-4 my-md-5 fs-1">Pourquoi et quand faire appel <strong>à nos services&nbsp;?</strong></h2>
    <div class="splide">
      <div class="controls d-none d-md-block splide__arrows">
        <button aria-label="Previous" class="splide__arrow splide__arrow--prev">←</button>
        <button aria-label="Next" class="splide__arrow splide__arrow--next">→</button>
      </div>
      <div class="splide__track">
        <ul class="splide__list">
        {% for case in usecases %}
          <li class="splide__slide d-flex flex-column justify-content-between usecase px-lg-5 me-3 me-lg-0">
            <div class="content px-5 px-lg-0 py-4 flex-grow-1 d-flex flex-column justify-content-around">
              <h3 class="fs-4">{{ case.text }}</h3>
              <div class="details d-lg-none">
                <p class="font-regular">{{ case.details }}</p>
                <a class="btn btn-light px-4 rounded-pill" href="{{ '/contact/' | url }}">Let's go!</a>
              </div>
            </div>
            <div class="bg-light-blue d-flex">
              {% image case.image, "Illustration abstraite", null, "w-100 mx-auto", "300 600" %}
            </div>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="bg-light pt-2 pt-lg-5">
  <div class="d-flex justify-content-end">
    <div class="col-12 col-md-5 p-5 my-5">
      <h2 class="ps-4 indent--1">Notre offre <br/><strong>en quelques mots</strong></h2>
      <p class="font-regular">{{ presentation_offre | markdown | safe }}</p>
      <a class="btn btn-primary rounded-pill" href="{{ '/contact/' | url }}">Let's go</a>
    </div>
    <div class="col-12 col-md-6 svg-bkg d-flex ps-0" style="background-image: url('{{ '/img/yellow_blue/Asset 11.svg' | url }}');">
      <div class="col-9 ps-0 my-auto">
        {% image 'img/ambiance travail.jpg', "Notre offre", null, 'w-100', '300 450' %}
      </div>
    </div>
  </div>
</section>
{% set testimonial = testimonials | first %}
{% include 'quote.njk' %}
<section class="bg-light pt-5">
  <div class="d-flex flex-wrap">
    <h2 class="text-center px-4 my-5 fs-1 d-lg-none">Comment créons-nous <strong>de la valeur&nbsp;?</strong></h2>
    <div class="col-8 mx-auto mx-lg-0 col-lg-5 svg-bkg ps-0" style="background-image: url('{{ '/img/red_blue/Asset 25.svg' | url }}');">
    </div>
    <div class="col-8 mx-auto col-lg-5 p-5 my-5 font-regular">
      <h2 class="text-center text-lg-start px-4 px-lg-0 my-5 fs-1 d-none d-lg-block">Comment créons-nous <strong>de la valeur&nbsp;?</strong></h2>
      {% for value in values %}
        <h3 class="font-medium">{{ value.title }}</h3>
        {{ value.text | markdown | safe }}
      {% endfor %}
    </div>
  </div>
</section>
<section class="bg-secondary-color d-flex flex-wrap justify-content-evenly ps-3">
  {% for number in numbers %}
    <div class="col-5 col-lg-4 d-lg-flex align-items-lg-center">
      <p class="number">{{ number.number }}</p>
      <p class="col-lg-4 ms-2">{{ number.text }}</p>
    </div>
  {% endfor %}
</section>
{% set testimonial = testimonials | last %}
{% include 'quote.njk' %}
<section class="">
  <div class="d-flex svg-bkg small justify-content-lg-end py-lg-5" style="background-image: url('{{ '/img/red_blue/Asset 7b.svg' | url }}');">
    <div class="col-8 col-lg-5 ps-4 ms-5 my-auto ps-lg-0 pe-lg-5">
      <h2 class="fs-1">Envie de commencer <strong>l'aventure&nbsp;?</strong></h2>
      <div class="d-none d-lg-block">
        {{ start | markdown | safe }}
      </div>
      <a class="btn btn-light rounded-pill mt-4 px-4" href="{{ '/contact/' | url }}">Let's go</a>
    </div>
  </div>
</section>
{#<section class="bg-light py-5 ps-5 blog">#}
  {#<h2 class="fs-1">Dans <strong>l'actualité</strong></h2>#}
  {#<div class="glider-contain mt-5 d-lg-none">#}
    {#<div class="glider posts">#}
      {#{% for post in collections.post %}#}
      {#<div class="{% if not loop.last %}me-5{% else %}me-2{% endif %}">#}
          {#<img class="img-fluid" src="{{ post.data.image | url }}" alt="{{ post.data.title }}">#}
          {#<h3 class="mt-4">{{ post.data.category }}</h3>#}
          {#<p>{{ post.data.title }}</p>#}
        {#</div>#}
      {#{% endfor %}#}
    {#</div>#}
  {#</div>#}
  {#<div class="d-flex ps-5 d-none d-lg-block position-relative">#}
    {#<div class="col-4">#}
      {#{% for post in collections.post %}#}
        {#<a class="post" href="{{ post.url | url }}">#}
          {#<div class="post-headline pb-4{% if loop.first %} hovered{% endif %}">#}
            {#<h3 class="post-title">{{ post.data.category }}</h3>#}
            {#<p class="fw-bold fs-4">{{ post.data.title }}</p>#}
          {#</div>#}
          {#<img class="position-absolute top-0 mh-100 me-5 thumbnail" src="{{ post.data.image | url }}">#}
        {#</a>#}
      {#{% endfor %}#}
    {#</div>#}
    {#<div class="col-7">#}
      {#<img id="postThumbnail" class="img-fluid" src="">#}
    {#</div>#}
  {#</div>#}
  {#<a href="/blog" class="btn btn-primary rounded-pill px-4">Toutes les actualités</a>#}
</section>
