---
layout: layouts/base.njk
---
<div class="d-flex position-absolute panel vh-100">
{% for sum in summary %}
  <div id="panel{{ loop.index }}" class="float-start col px-5 d-flex my-auto">
    <div class="my-auto">
      <p class="fs-3">0{{ loop.index}}</p>
      {{ sum.title | markdown | safe }}
      <div class="details">{{ sum.text | markdown | safe }}</div>
      <span class="fs-3 border rounded-circle d-inline-block circle">+</span>
    </div>
  </div>
{% endfor %}
</div>
<section class="hero d-flex position-relative">
  <div class="my-auto">
    <div class="col-6 ms-5">
      <h1 class="">
        <a href="{{ '/' | url }}" class="w-100">
          <img class="w-100" src="{{ '/img/logo.svg' | url }}" alt="Cameo">
        </a>
      </h1>
      <h2 class="fs-5 text-center">Révéler les talents. Libérer la performance.</h2>
    </div>
    <h2 class="p-5">Laissez-nous nous présenter en 3 points</h2>
    <div class="row">
      {% for sum in summary %}
        <div class="col px-5 summary" data-target="panel{{ loop.index }}">
        <p class="fs-3">0{{ loop.index}}</p>
        {{ sum.title | markdown | safe }}
        <span class="fs-3 border rounded-circle d-inline-block circle">+</span>
      </div>
      {% endfor %}
    </div>
    <div class="position-absolute bottom-0 w-100 mb-2">
      <p class="text-center m-0">Scrollez</p>
      <p class="text-center fs-1 lh-0 arrow">&#8964;</p>
    </div>
  </div>
</section>
<section class="bg-light">
  <div class="container pt-5">
    <h2 class="my-5 fs-1">Pourquoi et quand faire appel <strong>à nos services ?</strong></h2>
    <div class="glider-contain">
      <div class="controls">
        <button aria-label="Previous" class="glider-prev">←</button>
        <button aria-label="Next" class="glider-next">→</button>
      </div>
      <div class="glider">
      {% for case in usecases %}
        <div class="px-5 pt-5 pb-3 d-flex flex-column justify-content-between usecase">
          <h3 class="fs-4">{{ case.text }}</h3>
          <img class="img-fluid mt-4" src="{{ case.image | url }}" alt="Illustration abstraite">
          <div class="details">
            <p class="">{{ case.details }}</p>
            <a class="btn btn-outline-light px-4 rounded-pill" href="{{ '/partenaires' | url }}">Let's go!</a>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</section>
<section class="bg-light pt-5">
  <div class="row justify-content-end">
    <div class="col-5 p-5 my-5">
      <h2 class="indent--2">Notre offre <br/><strong>en quelques mots</strong></h2>
      <p>{{ presentation_offre | markdown | safe }}</p>
      <a class="btn btn-primary rounded-pill" href="{{ '/offres' | url }}">Let's go</a>
    </div>
    <div class="col-6 svg-bkg d-flex ps-0" style="background-image: url({{ '/img/yellow_blue/Asset 11.svg' | url | urlencode }});">
      <div class="col-6 ps-0 my-auto">
        <img class="img-fluid" src="{{ '/img/lab1.webp' | url }}" alt="Notre offre">
      </div>
    </div>
  </div>
</section>
{% set testimonial = testimonials | first %}
{% include 'quote.njk' %}
<section class="bg-light pt-5">
  <div class="row">
    <div class="col-5 svg-bkg d-flex ps-0" style="background-image: url({{ '/img/red_blue/Asset 25.svg' | url | urlencode }});">
      {#<div class="col-6 ps-0 my-auto">#}
        {#<img class="img-fluid" src="{{ '/img/lab2.webp' | url }}" alt="Notre offre">#}
      {#</div>#}
    </div>
    <div class="col-7 p-5 my-5">
      <h2>Comment créons-nous <strong>de la valeur ?</strong></h2>
      {% for value in values %}
        <h3>{{ value.title }}</h3>
        {{ value.text | markdown | safe }}
      {% endfor %}
    </div>
  </div>
</section>
<section class="bg-secondary-color d-flex flex-wrap justify-content-evenly">
  {% for number in numbers %}
    <div class="d-flex align-items-center">
      <p class="number">{{ number.number }}</p>
      <p class="">{{ number.text }}</p>
    </div>
  {% endfor %}
</section>
{% set testimonial = testimonials | last %}
{% include 'quote.njk' %}
<section class="">
  <div class="row justify-content-end" style="background: url({{ '/img/red_blue/Asset 7b.svg' | url | urlencode }}) no-repeat center;">
    <div class="col-6 p-5">
      <h2>Envie de commencer <strong>l'aventure ?</strong></h2>
      {{ start | markdown | safe }}
      <a class="btn btn-primary rounded-pill" href="{{ '/partenaires' | url }}">Let's go</a>
  </div>
</section>
<section class="bg-light p-5 blog">
  <h2 class="ps-5">Dans <strong>l'actualité</strong></h2>
  <div class="row ps-5">
    <div class="col-5">
      <div class="post active">
        <h3>Ils nous inspirent</h3>
        <p class="fw-bold active">"Travailler en 2020 : du sens sinon rien !" Rencontre avec ASG</p>
      </div>
      <div class="post">
        <h3>Le futur est déjà là</h3>
        <p class="fw-bold">Mes salariés sont-ils prêts pour un cameo</p>
      </div>
      <div class="post">
        <h3>Retours d'expérience</h3>
        <p class="fw-bold">Témoignages : Comment Medtronic a rendu ses salariés plus agiles</p>
      </div>
    </div>
    <div class="col-7">
      <img class="img-fluid" src="{{ '/img/lab3.webp' | url }}">
    </div>
  </div>
</section>
