---
layout: layouts/base.njk
headerClass: offre
---
<section class="pt-5 video px-4">
  <h1 class="pt-5 col-lg-10 mx-lg-auto fs-lg-0">L'offre Cameo <strong>en deux minutes</strong></h1>
  <div class="position-relative player">
    <div class="position-absolute play-button rounded-circle">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 337.173 337.173" style="enable-background:new 0 0 337.173 337.173;" xml:space="preserve">
        <g>
          <path d="M25.922,337.173V0l285.329,168.595L25.922,337.173z M42.179,28.491v280.2L279.29,168.595L42.179,28.491z"/>
        </g>
      </svg>
    </div>
    <video class="w-lg-100" poster="/video/poster.jpg" onclick="playPause(this)" preload="metadata">
      <source src="/video/presentation_offre.webm" type="video/webm">
      <source src="https://firebasestorage.googleapis.com/v0/b/stan-66b6e.appspot.com/o/presentation_offre(1).mp4?alt=media&token=ba53c637-221f-447e-b835-e81890f9c480" type="video/mp4">
      <track kind="captions" srclang="fr" src="/video/captions.vtt" label="Français" default>
    </video>
  </div>
</section>
<section class="bg-light py-5 px-4 d-lg-flex key-points align-items-center">
  <div class="w-lg-100 d-lg-flex justify-content-lg-center">
    <h2 class="mx-lg-auto fs-lg-1">Choisir Cameo <strong>c'est...</strong></h2>
    <div class="col-lg-6 d-flex flex-column align-items-center">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" href="#entreprises" id="entreprises-tab" data-bs-toggle="tab" role="tab" aria-controls="entreprises" aria-selected="true">Pour les entreprises</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="#startups" id="startups-tab" data-bs-toggle="tab" role="tab" aria-controls="startups" aria-selected="false">Pour les start-ups</a>
        </li>
      </ul>
      <div class="tab-content pt-2 mb-5">
        <div class="tab-pane fade show active" id="entreprises" role="tabpanel" aria-labelledby="entreprises-tab">
          <h3>Formez vos collaborateurs</h3>
          <p>aux compétences clés</p>
          <h3>Facilitez la mobilité interne</h3>
          <p>et augmenter leur employabilité</p>
          <h3>Créez des synergies</h3>
          <p>avec vos start-ups</p>
          <h3>Accélérez vos projets</h3>
          <p>et générer du chiffres d'affaires</p>
        </div>
        <div class="tab-pane fade show" id="startups" role="tabpanel" aria-labelledby="startups-tab">
          <h3>Accédez à des compétences</h3>
          <p>expérimentées</p>
          <h3>Déveleppez un vrai partenariat</h3>
          <p>avec un grand groupe</p>
          <h3>Génerez du chiffres d'affaires</h3>
          <p>grande échelle rapidement</p>
          <h3>Formez vos équipes</h3>
          <p>avec un expert</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-light-blue py-5 px-4 d-flex flex-column steps-section vh-100 justify-content-center">
  <h2 class="text-lg-center fs-lg-1">L'expérience Cameo <strong class="ps-5 ms-5">en 11 étapes</strong></h2>
  <div class="splide mt-4 mx-lg-auto w-lg-75" data-splide='{"direction": "ttb", "height": 260, "autoHeight": true, "perPage": 1, "breakpoints": {"992": {"destroy": true}}}'>
    <div class="splide__arrows vertical-controls d-none d-lg-block">
      <button aria-label="Previous" class="splide__arrow splide__arrow--prev">←</button>
      <button aria-label="Next" class="splide__arrow splide__arrow--next">→</button>
    </div>
    <div class="splide__track steps">
      <div class="splide__list">
        {% for step in steps %}
          <div class="step me-3 splide__slide d-lg-flex mb-lg-5">
            <div class="mt-3 d-flex title mt-lg-0 col-lg-5">
              <p class="pe-3 index">{{ loop.index | pad }}</p>
              <h3 class="fs-5 pt-4 mt-lg-3 pt-lg-0 ps-lg-5 fs-lg-2">{{ step.title }}</h3>
            </div>
            <div class="small-text mt-lg-3 col-lg-6">
              {{ step.text | markdown | safe }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <a class="btn btn-primary rounded-pill mt-5 mx-auto" href="/img/Cameo - Programme Pédagogique Détaillé.pdf">Télécharger le programme pédagogique</a>
</section>
<section class="bg-light pt-5 pt-lg-0 advantage">
  <h2 class="ps-4 mb-4 fs-lg-1 position-lg-absolute mt-lg-5 ms-lg-5">Cameo <strong>c'est aussi...</strong></h2>
  <div class="d-none d-lg-flex h-100 justify-content-lg-evenly">
    <div class="col-6 pt-5 mt-5">
      <div class="col-8 mx-auto pt-5 list-group" id="advantages-titles">
        {% for advantage in advantages %}
          <a class="mt-5 list-group-item list-group-item-action fs-3" href="#advantage-{{ loop.index }}">{{ advantage.title }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="col-6 content">
      <div data-bs-spy="scroll" data-bs-target="#advantages-titles" data-bs-offset="250" tabindex="0" class="col-6 mx-auto d-flex flex-column h-100 no-scrollbar">
        {% for advantage in advantages %}
        <div class="advantage-body{% if loop.first %} first{% elif loop.last %} last{% endif %}" id="advantage-{{ loop.index }}">{{ advantage.text | markdown | safe }}</div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="content p-5 d-lg-none h-100 no-scrollbar overflow-scroll">
    <div>
      {% for advantage in advantages %}
        <div>
          <h3 class="fs-5">{{ advantage.title }}</h3>
          <p class="mb-5">{{ advantage.text }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="bg-light py-5 px-4">
  <h2 class="ps-4 mb-4 fs-lg-1 mt-lg-5 ms-lg-5">Cameo en <strong class="d-inline">questions</strong></h2>
  <div class="container">
    <div class="accordion accordion-flush" id="faq">
      {% for question in faq %}
      <div class="accordion-item">
        <h3 class="accordion-header" id="faq-header-{{ loop.index }}">
          <button class="accordion-button text-start collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#faq-body-{{ loop.index }}" aria-expanded="false" aria-controls="faq-body-{{ loop.index }}">
            {{ question.title }}
          </button>
        </h3>
        <div id="faq-body-{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="faq-header-{{ loop.index }}" data-bs-parent="#faq">
          <div class="accordion-body">
            {{ question.text | markdown | safe }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{#<section class="bg-light py-5 px-4 d-lg-flex justify-content-lg-evenly align-items-lg-center">#}
  {#<h2 class="w-75 d-lg-none">Cameo :<strong>combien ça coûte ?</strong></h2>#}
  {#<div style="height: 700px;width: 300px; display: block; background: black"></div>#}
  {#<div>#}
    {#<h2 class="d-none d-lg-block">Cameo :<strong>combien ça coûte ?</strong></h2>#}
    {#<h3 class="fs-5">Un financement tri-partite et sur-mesure</h3>#}
    {#<p class="small-text">Lorem Ipsum</p>#}
  {#</div>#}
{#</section>#}
<section class="py-5 px-4 cta d-md-flex justify-content-md-end align-items-md-center">
  <div class="p-4 col-md-8 col-lg-6">
    <h2 class="fs-lg-1 col-lg-8">Notre offre vous intéresse ?<strong>Et si on prenait quelques minutes pour en parler ?</strong></h2>
    <a href="{{ '/contact/' | url }}" class="btn btn-light rounded-pill px-3 mt-3">Parlons-en !</a>
  </div>
</section>
