---
layout: layouts/base.njk
contentClass: partner
---
<section class="mt-3 mt-lg-0 px-4 vh-100 intro">
  <div class="col-lg-10 mx-auto h-100 d-flex flex-column align-items-start justify-content-center">
    <h1>{{ h1 | markdown(true)  | safe }}</h1>
  <p class="font-light mt-3 col-lg-6">
    {{ intro | markdown(true) | safe }}
  </p>
  <a href="{{ '/contact/' | url }}" class="btn btn-lg btn-secondary rounded-pill mt-5">{{ intro_button }}</a>
  </div>
</section>
<section class="bg-light py-5 px-4 font-regular">
  <div class="container py-5">
    <h2 class="my-5">Une certification reconnue par l'État</h2>
    <p>
      La certification démontre l'acquisition de méthodes et techniques pour passer d'une idée d'innovation à sa réalisation, avec un souci permanent de placer l'utilisateur final au centre du projet. Elle vise le développement d'un état d'esprit d'entrepreneur et permet, par la pratique, l'acquisition de compétences et postures adaptées au travail agile et en équipe pluridisciplinaires.
    </p>
    <p>
      La certification Cameo est reconnue par l’État, enregistrée au Répertoire Spécifique sous le nom “Définir et mettre en œuvre un projet d'innovation au sein d’une organisation” (<a href="https://www.francecompetences.fr/recherche/rs/5326">RS5326</a>) et peut être <strong>financée via le CPF (Mon compte Formation).</strong>
    </p>
    {% image "img/logo-certification.jpg", "France Compétences - Certification enregistrée au Répertoire spécifique", null, "mx-auto d-block", "300 600" %}
    <h2 class="my-5">Quelles sont les compétences attestées par la certification Cameo&nbsp;?</h2>
    <p>
      Les compétences visées par la certification sont axées sur la gestion de projet, notamment grâce aux nouvelles méthodologies agiles qui voient le jour maintenant dans des organisations de toutes tailles. La certification vise également une dimension d’innovation en entreprise, du prototypage à la conduite du changement et la stratégie qui en découle.
    </p>
    <p>
      Pour obtenir la certification Cameo, un candidat doit, entre autre, se montrer capable de :
    </p>
    <ul>
      <li>Définir les caractéristiques, avantages et limites des principales méthodologies agiles</li>
      <li>Identifier ses publics-cibles et interagir avec eux pour connaître leurs besoins et aspirations</li>
      <li>Construire le business model de son projet grâce au Business Model Canvas</li>
      <li>Élaborer le pitch de son projet pour en faire une présentation orale</li>
      <li>Prototyper une solution : conception, priorisation fonctionnelle, production, test</li>
      <li>Analyser l'organisation et la réalisation du travail pour l'améliorer</li>
      <li>Suivre et mesurer l'avancement des objectifs</li>
      <li>Conduire un projet d'innovation au sein d'une organisation</li>
    </ul>
    <h2 class="my-5">Ma formation est-elle éligible ?</h2>
    <p>Pour garantir la qualité de notre certification, les formations de nos partenaires doivent valider plusieurs critères afin de pouvoir utiliser notre certification :</p>
    <ul>
      <li>La formation doit contenir une dimension "projet"</li>
      <li>La formation doit concerné les domaines suivants : Design Thinking, méthodes agiles, intrapreneuriat, blockchain ou marketing digital</li>
      <li>L'organisme de formation doit être certifié QUALIOPI</li>
      <li>La formation doit avoir une durée minimale de 35 heures</li>
    </ul>
  </div>
</section>
<section class="py-5 px-4 yellow-arrow-bkg">
  <div class="container py-5">
    <div class="row justify-content-end">
      <div class="col-lg-9">
        <h2 class="mb-5">Comment obtenir la certification Cameo&nbsp;?</h2>
        <p>
          L’acquisition des compétences visées par la certification est sanctionnée par une soutenance de 30 minutes devant un jury composé d’un représentant de la certification et d’une à deux personnes extérieures et expertes des sujets de transformation.
        </p>
        <p>
          Durant ce jury, les candidats devront effectuer un pitch de quelques minutes sur un projet, appuyé par un support de présentation adapté. Le contenu du pitch devra présenter des éléments de structuration de leur projet, notamment sous la forme d’un Business Model Canva, ainsi qu’un historique de l’évolution du projet, de la recherche de problématique à l’expérimentation d’une solution.
        </p>
        <p>
          S’en suivra un moment d’échange avec le jury pour bien comprendre les spécificités du projet et les réponses apportées par le candidat.
        </p>
        <p>
          Les candidats seront évalués sur la qualité de leur pitch (élocution, prestance, dynamisme), la qualité de leur support (clarté et pertinence des informations) ainsi que sur les détails apportés par leur Business Model Canva et leurs correspondances avec la réalité du marché. Pour valider la certification, les participants devront obtenir la moyenne, soit 10 sur 20.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="bg-light py-5 px-4">
  <div class="container py-5">
    <h2 class="">Comment utiliser la certification Cameo&nbsp;?</h2>
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-12 col-lg-5 py-4">
          <div class="p-3">
            <h3>L'habilitation à former</h3>
            <p>
              Vous restez maître de votre formation et Cameo s’occupe de la certification en organisant le jury et la partie administrative.
            </p>
          </div>
          <div class="bg-light-blue">
            {% image "img/stamp.jpg", "", null, "w-100 mx-auto", "300 600" %}
          </div>
        </div>
        <div class="col-12 col-lg-2">
          <p class="fs-1 text-center pt-5 color-primary">Ou</p>
        </div>
        <div class="col-12 col-lg-5 py-4">
          <div class="p-3">
            <h3>La co-certification</h3>
            <p>
              Cameo vous autorise à attribuer sa certification. Vous êtes donc autonome sur la formation et la certification.
            </p>
          </div>
          <div class="bg-light-blue">
            {% image "img/agreement.jpg", "", null, "w-100 mx-auto", "300 600" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="cta d-flex flex-column justify-content-center align-items-center align-items-lg-end">
  <div class="col-8 col-lg-6">
    <h2>Vous êtes intéressé•e par notre certification ? <span>Contactez notre direction pédagogique</span></h2>
  <a href="{{ '/contact/' | url }}" class="btn btn-primary rounded-pill px-3 mt-3">Let's go!</a>
  </div>
</section>
