---
layout: layouts/base.njk
contentClass: plus
---
<section class="mt-3 px-4 vh-100 intro">
  <h1>Ce qui fait <strong class="d-block">notre différence</strong></h1>
  <p class="font-light mt-3">Nos parcours de formation s'inscrivent dans une démarche d'accompagnement individuel. Cette exigence fait de chaque expérience Cameo un véritable apprentissage personnalisé, une initiation par l'expérience, approuvée par une certification reconnue. Nos parcours sont orientés vers l'action concrète. Ils s'appuient sur des mises en situation pratiques et utiles à chacun - apprenant, start-up et entreprise - au service de leur réussite.</p>
</section>
<section class="bg-light py-5 px-4">
  {% for plus in pluses %}
    <div class="overflow-hidden position-relative mt-5">
    {% image plus.image, plus.title, "327", "", "327" %}
    {% image plus.shape, 'shape', null, "shape shape-" + loop.index %}
    </div>
    <div class="ms-4 mt-4">
      <h2 class="bullet-point">{{ plus.title }}</h2>
      <div class="ms-3 font-regular">{{ plus.text | markdown | safe }}</div>
    </div>
  {% endfor %}
</section>
<section class="cta d-flex flex-column justify-content-center align-items-start">
  <div class="col-8 mx-auto">
  <h2>Alors ?<br/>Convaincu•e ? <span>Rentrons dans le vif du sujet !</span></h2>
  <a href="{{ '/contact/' | url }}" class="btn btn-primary rounded-pill px-3 mt-3">Let's go!</a>
  </div>
</section>
