---
layout: layouts/base.njk
headerClass: blog
light: true
---
<section class="bg-light post-content">
  <div class="container px-lg-5">
    {% image image, '', null, 'w-100', '540, 1140, 1320' %}
    <header class="my-5 px-3 px-lg-0">
      <p class="color-primary font-regular">{{ category }}</p>
      <h1 class="mb-3 fw-bold">{{ title }}</h1>
      <address class="font-regular color-black">Par <a rel="author" href="" class="color-primary">{{ author }}</a></address>
    </header>
    <article class="px-3 px-lg-0">
      {{ content | safe }}
      {% if author %}
        <address class="d-flex align-items-start mt-5">
          {% set authorData = collections.author | findProp("name", author) %}
          {% image authorData.data.image, '', null, 'col-3' %}
          <div class="col-9 px-4 font-regular small-text">
            {#<p class="fs-5 mb-0 font-medium">{{ authorData.data.name }}</p>#}
            {% set socials = authorData.data.socials %}
            {% set text = authorData.data.name  %}
            {% set share = false %}
            {% include "social.njk" %}
            <p class="fs-6">{{ authorData.data.title}}</p>
            {{ authorData._templateContent | safe }}
            <div id="shareBox" class="ps-4 p-lg-0 mb-5">
              <div class="d-none d-lg-block">
                {% set dark = true %}
                {% include "newsletter.njk" %}
              </div>
              {% set socials = metadata.socials %}
              {% set text = "Partager sur" %}
              {% set share = true %}
              {% include "social.njk" %}
            </div>
          </div>
        </address>
      {% endif %}
    </article>
  </div>
</section>
